# EditorConfig : https://EditorConfig.org
root = True

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = True
trim_trailing_whitespace = True

[*.py]
indent_size = 4
